.tabela {
  grid-row: 1;
  grid-column: 2;

  width: 280px;
  height: 280px;
  background-color: transparent;
  grid-template-rows: 90px 90px 90px;
}

.tabela tbody td {
  background-color: rgba(228, 86, 100, 0.8);
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  width: 80px;
  height: 80px;
}
.tabela #soma td{
  background-color: transparent;
  border: 0px;
  border-radius: 5px;
  border-width: 2px;
  margin-right: 0px;
  width: 10px;
  height: 10px;
}

.dadoCtn {
  grid-row: 1;
  grid-column: 1;
  background-color: rgba(70, 70, 70, 0.8);
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
  width: 100px;
  height: 100px;
  font-size: 50px;
  text-align: center;
  
}